* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Corsa';
  src: url('./fonts/Typedepot\ -\ Corsa\ Grotesk\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Corsa';
  src: url('./fonts/Typedepot\ -\ Corsa\ Grotesk\ Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ReSquare';
  src: url('./fonts/ReSquare\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ReSquare';
  src: url('./fonts/ReSquare\ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ReSquare';
  src: url('./fonts/ReSquare\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.container {
  padding: 0 0%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 clamp(16px, 5vw, 80px);

}

/* Фоновый блок */
.hero {
    background-color: #1E1D1D;
    height: 1080px;
    position: relative;   /* 🔥 обязательно */
    overflow: hidden;  
}
.backx {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.backx img{
    position: absolute;
}
.backx img:first-child {
    top: 0px;      /* можно двигать выше */
    right: 0%;
    width: 1300px;
    height: auto;
    opacity: 20%;
}
.backx img:last-child {
    top: 360px;      /* можно двигать выше */
    left: 50%;
    transform: translateX(-50%);
    width: 2000px;
    height: auto;
    opacity: 20%;
}
.zlogo{
    position: absolute;
    z-index: 21;
    display: flex;
    align-items: center;
    gap: 8px;
    bottom: 80px;   /* 🔥 ВОТ ЭТО НУЖНО */
    left: 80px;
}
.zlogo img{
    width: 120px;
    height: auto;
}
.zlogo span{
    font-family: 'Corsa', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
}
.twoimages{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.twoimages img{
    position: absolute;
    width: 900px;
    height: auto;
}
.twoimages img:first-child {
    top: -100px;      /* можно двигать выше */
    left: 40%;
    transform: translateX(-50%);
}
.twoimages img:last-child {
    bottom: -100px;   /* уходит вниз и обрезается */
    right: 10%;
}
/* Кнопка поверх картинки */
.btn {
    position: relative;
    overflow: hidden;

    font-family: 'ReSquare', sans-serif;
    font-size: 28px;
    font-weight: 700;

    padding: 24px 64px;
    height: 80px;
    border-radius: 100px;

    background: #ffffff;
    color: #1E1D1D;

    cursor: pointer;
    isolation: isolate;

    transition: 
        transform 0.25s ease,
        color 0.3s ease,
        box-shadow 0.3s ease;
    margin-top: 80px;
    margin-left: 80px;
    gap: 8px;
    z-index: 10;
}

.btn img {
    width: 24px; /* размер SVG */
    height: 24px;
}

.btn::before{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        135deg,
        #47D6F3,
        #FF90CB,
        #47D6F3
    );

    background-size: 300% 300%;
    opacity: 0;

    transition: opacity 0.4s ease;

    z-index: 1;
}
.btn:hover::before {
    opacity: 1;
    animation: gradientFlow 4s ease infinite;
}

/* 💎 ГЛЯНЦЕВЫЙ СЛОЙ */
.btn::after {
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        circle at 30% 20%,
        rgba(255,255,255,0.35),
        transparent 100%
    );

    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 2;
}

.btn:hover::after {
    opacity: 1;
}

/* 🚀 hover */
.btn:hover {
    color: #1E1D1D;

    box-shadow:
        0 10px 40px rgba(255,144,203,0.35),
        0 0 80px rgba(4, 180, 250, 0.25);

    transform: scale(1.05);
}

/* 💥 клик */
.btn:active {
    transform: scale(0.97);
}
.btn * {
    position: relative;
    z-index: 3;
}

/* 🎞 анимация */
@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    z-index: 100;
    margin-top: 24px;
}
.tag {
    font-family: 'ReSquare', sans-serif;
    font-size: 32px;
    padding: 16px 36px;
    background-color: #FFFFFF;
    border-radius: 24px;
    color: #1E1D1D;
    border: 2px solid #1E1D1D;
    font-weight: 500;
}
.pr{
    display: flex;
    margin-bottom: 48px;
}
.tags2{
    display: flex;
    flex-direction: row;           
    align-items: center;    
    gap: 8px;   
    margin-top: 16px;
}
.tag2{
    display: flex;
    align-items: center; /* выравниваем по центру вертикали */
    gap: 8px;
}
.tag2 img {
    width: 72px;           
    height: 72px;           
    object-fit: contain;    
  }
  
.tag2 span {
    font-family: 'Corsa', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    font-weight: 400;
}
.myproject{
padding: 0 0%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 clamp(16px, 5vw, 80px);
}
.myproject h1{
    font-family: 'Corsa', sans-serif;
    font-size: 72px;
    color: #1E1D1D;
    font-weight: 400;
    margin-bottom: 40px;
}
.myproject1{
    padding: 0 0%;
      margin: 0 auto;
      background-color: #FFFFFF;
      margin-bottom: 56px;
    }
.myproject1 a{
    font-family: 'Corsa', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    font-weight: 400;
}
.about{
    padding: 0 0%;
    background-color: #FFFFFF;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    max-width: 1314px;
}
.about h1{
    font-family: 'Corsa', sans-serif;
    font-size: 56px;
    color: #1E1D1D;
    font-weight: 400;
    margin-bottom: 48px;
}
.about h2{
    font-family: 'Corsa', sans-serif;
    font-size: 40px;
    color: #1E1D1D;
    font-weight: 400;
    margin-bottom: 32px;
}
.about a{
    font-family: 'Corsa', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    font-weight: 400;
    margin-bottom: 40px;
}
.process {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.process1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-end;
}
.proc1, .proc2{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 571px;
}
.proc1 h3, .proc2 h3{
    font-family: 'Corsa', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    font-weight: 400;
}
.aa {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.aa h4{
    font-family: 'Corsa', sans-serif;
    font-size: 24px;
    color: #1E1D1D;
    font-weight: 400;
    opacity: 50%;
}
.real{
    display: flex;
    margin-top: 64px;
    flex-direction: column;
}
.real h1{
    font-family: 'Corsa', sans-serif;
    font-size: 48px;
    color: #1E1D1D;
    font-weight: 400;
}
.real h2{
    font-family: 'Corsa', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    font-weight: 400;
    margin-top: 56px;
    margin-bottom: 40px;
}
.real1{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap; /* 🔥 ключ */
}
.real1 img{
    width: 100%;
    height: auto;
    max-width: 869px; /* чтобы на десктопе не растягивалось больше */
    flex: 1;
    min-width: 0; /* 🔥 обязательно */
}
.real2 img{
    width: 100%;
    height: auto;
    flex: 1;
    min-width: 0; /* 🔥 важно для flex */
}
.real2{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.down{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gosides {
    flex-direction: row;
    display: flex;
    gap: 32px;
    align-self: end;
}
.gosides-icon {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    background: #ffffff;
    border: 1px solid #1E1D1D;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    isolation: isolate;

    transition: transform 0.3s ease;
}
.goup {
    display: flex;
    align-self: self-start; /* 🔥 прижимает вниз */
    margin-top: auto;
   
    z-index: 20;        /* чтобы быть над всеми блоками */

    align-self: start;  /* выравниваем по началу колонки */
}
.goup-btn {
    display: flex;
    align-items: center;
    gap: 16px;

    text-decoration: none;
    cursor: pointer;
}
.goup-btn span {
    font-family: 'ReSquare', sans-serif;
    font-size: 32px;
    color: #1E1D1D;
    letter-spacing: 2%;
    transition: color 0.3s ease;
    font-weight: 700;
}
.goup-icon {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    background: #1E1D1D;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    isolation: isolate;

    transition: transform 0.3s ease;
}
.goup-icon img {
    width: 24px;
    height: 24px;

    position: relative;
    z-index: 3;

    filter: invert(1); /* 🔥 делаем белой изначально */
    transition: filter 0.3s ease;
}
.goup-icon::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        135deg,
        #47D6F3,
        #FF90CB,
        #47D6F3
    );

    background-size: 300% 300%;
    opacity: 0;

    transition: opacity 0.4s ease;

    z-index: 1;
}
.btn span,
.btn img {
    position: relative;
    z-index: 3;
}
.btn {
    text-decoration: none;
    display: inline-flex; /* чтобы img и текст нормально выровнялись */
    align-items: center;
}
.goup-icon::after {
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        circle at 30% 20%,
        rgba(255,255,255,0.35),
        transparent 100%
    );

    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 2;
}
.goup-btn:hover .goup-icon::before {
    opacity: 1;
    animation: gradientFlow 4s ease infinite;
}

.goup-btn:hover .goup-icon::after {
    opacity: 1;
}

.goup-btn:hover .goup-icon {
    transform: scale(1.1);
}

.goup-btn:hover span {
    color: #FF90CB;
}

/* 🔥 SVG становится чёрной */
.goup-btn:hover img {
    filter: invert(0);
}

.goup-btn:active .goup-icon {
    transform: scale(0.95);
}
.footer{
    display: flex;
    margin-top: 72px;
}

.footerline{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}
.line1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.line1 span{
    font-size: 72px;
    color: #FF90CB;
    font-family: 'ReSquare', sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
}
.line1 h1{
    font-family: 'Corsa', sans-serif;
    font-size: 24px;
    color: #1E1D1D;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    opacity: 50%;
    margin-top: 24px;
    margin-bottom: 8px;
}
.line1 h1:hover{
    text-decoration: underline;
    opacity: 100%;
}
.sign{
    margin-top: 16px;
}
.sign img{
    width: 24px;
    height: 24px;
}
.sign a{
    font-size: 32px;
    color: #1E1D1D;
    font-family: 'ReSquare', sans-serif;
    font-weight: 500;
}
.linepink, .linepink2{
    width: 100%;        /* 🔥 растягивается */
    max-width: 651px;   /* 🔥 но не больше чем было */
    height: 2px;
    background-color: #FF90CB;
}
.linepink,
.linepink2 {
    width: clamp(120px, 100%, 651px);
}
.line3{
    align-items: center;
}
.linepink2{
    margin-bottom: 24px;
}
.line1,
.line3 {
    flex: 1;
    min-width: 0; /* 🔥 очень важно */
}
.line3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   /* центр по горизонтали */
    text-align: left;    /* центр текста */
}
.line3 span{
    font-family: 'Corsa', sans-serif;
    font-size: 24px;
    color: #1E1D1D;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 16px;
    margin-left: 0;
    margin-top: 0px;
}
.footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: flex-start;
    flex-wrap: wrap; /* 🔥 ВАЖНО */
}

/* сам кружок */
.footer-icon {
    width: clamp(36px, 8vw, 64px);
    height: clamp(36px, 8vw, 64px);
    position: relative;
    border-radius: 100%;

    background: #1E1D1D;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    isolation: isolate;

    transition: transform 0.3s ease;
    cursor: pointer;
}

/* SVG */
.footer-icon img {
    width: clamp(18px, 4vw, 32px);
    height: clamp(18px, 4vw, 32px);

    position: relative;
    z-index: 3;

    filter: invert(1); /* 🔥 белые изначально */
    transition: filter 0.3s ease;
}

/* градиент как у кнопок */
.footer-icon::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        135deg,
        #47D6F3,
        #FF90CB,
        #47D6F3
    );

    background-size: 300% 300%;
    opacity: 0;

    transition: opacity 0.4s ease;

    z-index: 1;
}

/* глянец */
.footer-icon::after {
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        circle at 30% 20%,
        rgba(255,255,255,0.35),
        transparent 100%
    );

    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 2;
}

/* hover */
.footer-icon:hover::before {
    opacity: 1;
    animation: gradientFlow 4s ease infinite;
}

.footer-icon:hover::after {
    opacity: 1;
}

.footer-icon:hover {
    transform: scale(1.1);

    box-shadow:
        0 10px 30px rgba(255,144,203,0.35),
        0 0 60px rgba(71,214,243,0.25);
}

/* 🔥 SVG становится черной */
.footer-icon:hover img {
    filter: invert(0);
}

/* 💥 клик */
.footer-icon:active {
    transform: scale(0.92);
}





@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
  
    .btn{
        font-size: 20px;
    
        padding: 13px 36px;
        height: 44px;
        margin-top: 73px;
        margin-left: 20px;
        gap: 8px; 
    }
    .btn img {
        width: 16px; /* размер SVG */
        height: 16px;
    }
    .hero{
        display: flex;
        max-height: 852px;
    }
    .tag {
        font-family: 'ReSquare', sans-serif;
        font-size: 16px;
        padding: 8px 10px;
        background-color: #FFFFFF;
        border-radius: 24px;
        color: #1E1D1D;
        border: 1px solid #1E1D1D;
        font-weight: 500;
        height: 30px;

    }
    .tags{
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-start;
    }
    .pr {
        margin-top: 8px;
        margin-bottom: 32px;
    }
    .tags2{
        flex-wrap: wrap;
    }
    .tag2{
        display: flex;
        align-items: flex-start; 
        gap: 8px;
    }
    .tag2 img {
        width: 40px;           
        height: 40px;           
        object-fit: contain;    
      }
      
    .tag2 span {
        font-size: 16px;
    }
    .myproject h1{
        font-size: 36px;
        margin-bottom: 32px;
    }
    .myproject1{
          margin-bottom: 40px;
        }
    .myproject1 a{
        font-size: 16px;
    }
    .about {
        margin-bottom: 24px;
        max-width: 100%;
    }
    .about h1{
        font-size: 32px;
        margin-bottom: 32px;
    }
    .about h2{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .about a{
        font-size: 14px;
        margin-bottom: 32px;
    }
    .proc1, .proc2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 100%;
    }
    .proc1 h3, .proc2 h3 {
        font-size: 20px;
    }
    .aa {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .aa h4 {
        font-size: 14px;
    }
    .footer{
        margin-top: 56px;
    }
    .footerline {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .linepink2{
        display: none;
    }
    .linepink{
        width: 100%;
    }
    .line1 {
        align-items: center;
    }
    .line1 span {
        font-size: 48px;
        margin-bottom: 8px;
    }
    .sign {
        margin-top: 0px;
    }
    .sign img {
        width: 16px;
        height: 16px;
    }
    .sign a {
        font-size:20px;
    }
    .line1 h1 {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 24px;
    }
    .line2 {
        order: 3; /* теперь она последняя */
    }

    .line3 {
        order: 2; /* становится второй */
    }
    .line3 span {
        font-size: 16px;
        margin-bottom: 16px;
        margin-left: 0px;
    }
    .line1 {
        order: 1; /* остаётся первой */
    }
    .real{
        margin-top: 40px;
    }
    .real h1{
        font-size: 32px;
    }
    .real h2 {
        font-size: 20px;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .real1 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 0px;
    }
    .real1 img {
        width: 353px;
        height: auto;
    }
    .real2 {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .goup {
        display: flex;
        margin-top:0px;
        z-index: 20;
        margin-left: 0px;
        align-self: center;
    }
    .goup-icon {
        width: 44px;
        height: 44px;
    }
    .goup-btn span {
        font-size: 20px;
    }
    .goup-icon img {
        width: 16px;
        height: 12px;
    }
    .goup-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        cursor: pointer;
    }
    .down{
        flex-direction: column;
    }
    .gosides {
        flex-direction: row;
        display: flex;
        gap: 24px;
        align-self: center;
    }
    .gosides-icon {
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #ffffff;
        border: 1px solid #1E1D1D;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        isolation: isolate;
        transition: transform 0.3s ease;
        margin-top: 24px;
    }
    .gosides-icon img{
        height: 20px;
        width: 15px;
    }
    .real2 img{
        width: 353px;
        height: auto;
    }
    .footer{
        margin-top: 56px;
    }
    .footerline {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .linepink2{
        display: none;
    }
    .linepink{
        width: 100%;
    }
    .line1 {
        align-items: center;
    }
    .line1 span {
        font-size: 48px;
        margin-bottom: 8px;
    }
    .sign {
        margin-top: 0px;
    }
    .sign img {
        width: 16px;
        height: 16px;
    }
    .sign a {
        font-size:20px;
    }
    .line1 h1 {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 24px;
    }
    .line2 {
        width: 100%;          /* чтобы занимала всю ширину */
        overflow: hidden;     /* обрезаем лишнее */
        display: flex;        /* flex нужен для центрирования */
        justify-content: center; /* центрируем изображение */
    }

    .line2 img {
        max-width: 100%;     /* никогда не будет шире родителя */
        height: auto;        /* сохраняем пропорции */
        display: block;      /* убираем inline-gap */
    }

    .line3 {
        order: 2; /* становится второй */
        align-items: center;
    }
    .line3 span {
        font-size: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .line1 {
        order: 1; /* остаётся первой */
    }
    .footer-icon {
        width: 44px;
        height: 44px;
    }
    .footer-icon img{
        width: 24px;
        height: 24px;
    }
    .twoimages{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 20;
    }
    .twoimages img{
        position: absolute;
        width: 420px;
        height: auto;
    }
    .twoimages img:first-child {
        top: 120px;      /* можно двигать выше */
        left: -20%;
        transform: translateX(-50%);
        transform: rotate(12deg);
    }
    .twoimages img:last-child {
        bottom: 56px;   /* уходит вниз и обрезается */
        left: -10%;
        transform: rotate(21deg);
    }
    .backx img:first-child {
        top: 0px;      /* можно двигать выше */
        right: -10%;
        width: 500px;
        height: auto;
        opacity: 20%;
    }
    .backx img:last-child {
        top: 480px;      /* можно двигать выше */
        left: -160%;
        transform: translateX(-50%);
        width: 1200px;
        height: auto;
        opacity: 20%;
        transform: scaleX(-1);
    }
    .zlogo{
        position: absolute;
        z-index: 21;
        display: flex;
        align-items: center;
        gap: 8px;
        bottom: 24px;   /* 🔥 ВОТ ЭТО НУЖНО */
        left: 120px;
        justify-content: center;
    }
    .zlogo img{
        width: 64px;
        height: auto;
    }
    .zlogo span{
        font-family: 'Corsa', sans-serif;
        font-size: 24px;
        color: #ffffff;
        font-weight: 400;
    }
}
    /* Адаптив для картинок внутри .real на экранах от 394px до 768px */
@media (max-width: 768px) and (min-width: 394px) {
    .real1, .real2 {
        flex-direction: column; /* картинки в колонку */
        gap: 16px;              /* расстояние между ними */
    }

    .real1 img, .real2 img {
        width: 100%;      /* растягиваем на всю ширину контейнера */
        height: auto;     /* сохраняем пропорции */
        max-width: 100%;  /* чтобы не вылазило */
        flex: 1 1 auto;   /* гибкий рост */
    }
}




